<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'profile', user: current_user %>
      <% else %>
        <%= render 'trends' %>
      <% end %>
      <%= render 'feed', tweeets: @tweeets, user: @user %>
      <%= render 'who_to_follow' %>
    </div>
  </div>
</section>
